:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --gap-s: 16px;
  --gap-m: 24px;
  --gap-l: 72px;}

.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  letter-spacing: 0.02em;
  line-height: 1.5;
  background-color: var(--white);
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

button {
  cursor: pointer;
}

section {
  padding: 96px 0;
}

/* common */
.container {
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
  padding: 16px;
  
}

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
  justify-content: space-between;
}

.menu,
.address {
  display: none;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  padding: 16px 0;
  display: block;
}

.header-span {
  color: var(--navy-blue);
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

/**** mobile *****/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-menu-open {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-open:hover,
.mobile-menu-open:focus {
  background-color: var(--ocean);
  border: none;
}

.mobile-menu-open:hover .svg-button-close,
.mobile-menu-open:focus .svg-button-close {
  fill: var(--white);
}

.svg-button-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  position: relative;
  font-weight: 700;
font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  color: var(--ocean);
}

.mobile-nav-link-second {
  display: block;
  padding: 24px 0;
  font-weight: 700;
font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.mobile-nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
  bottom: -1px;
  left: 0;
  transform: scaleX(0);
  transition: transform 250ms ease;
  transform-origin: left;
}

.mobile-nav-link:hover::after,
.mobile-nav-link:focus::after {
  transform: scaleX(1);
}

.mobile-address {
  margin-bottom: 48px;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--iris);
}

.mobile-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--iris);
}

.mobile-mail:hover,
.mobile-mail:focus {
  color: var(--ocean);
}
.mobile-tel{
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--slate);
}

.mobile-ul-list {
  display: flex;
  gap: 40px;
}

.mobile-li-list {
  width: 40px;
  height: 40px;
}

.mobile-social-icon {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-icon:hover,
.mobile-social-icon:focus {
  background-color: var(--ocean);
}

.svg-mobile {
  fill: var(--cloud);
}

/**** first ****/

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--navy-blue);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  padding: 72px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  width: 100%;
}

.first-title {
  font-weight: 700;
  width: 216px;
  margin: 0 auto;
  font-size: 36px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.button-first {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  margin-top: 72px;
  align-items: center;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  min-height: 56px;
  max-width: 100%;
  padding: 16px 32px;
  display: block;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}

.button-first:hover,
.button-first:focus {
  background-color: var(--ocean);}

/*** second ***/

.second {
  margin: 0 auto;
  max-width: 320px;
  padding: 96px 0;
}

.second-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-l);
}

.svg-container {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--cloud);
  width: 100%;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid var(--light-slate);
}

.advantages-item {
  width: 100%;
  text-align: center;
}
.second-title{font-weight: 700;
font-size: 36px;
}

/**** third ***/
.third {
  background-color: var(--cloud);
}

.third-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.third-team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 320px;
  gap: var(--gap-l);
}

.team-member {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  width: 100%;
  max-width: 264px;}

.third-name {
  padding: 32px 0;
}

.team-title {
  font-weight: 500;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-left: 0;
  gap: var(--gap-m);
}

.icon-links {
  margin-bottom: 32px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-third {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-third:hover,
.social-icon-third:focus {
  background-color: var(--ocean);
}

.svg-third {
  fill: var(--cloud);
}

/*** fourth ***/
.fourth {
  max-width: 320px;
  margin: 0 auto;
  padding: 96px 0;
}

.fourth-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.fourth-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  max-width: 320px;
  gap: 48px;
}

.fourth-list {
  padding-left: 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.fourth-list:hover {
  box-shadow: 0px 4px 4px rgba(46, 47, 66, 0.12),
    0px 2px 2px rgba(46, 47, 66, 0.08), 0px 8px 8px rgba(46, 47, 66, 0.06);
}

.hidden-img-fourth {
  position: relative;
  overflow: hidden;
}

.hidden-text-fourth {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  color: var(--cloud);
  background-color: var(--navy-blue);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.fourth-list:hover .hidden-text-fourth {
  transform: translateY(0%);
}

.portfolio-title {
  margin-bottom: 8px;
  margin-top: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-bottom: 32px;
}

/*** footer ***/

.footer {
  margin: 0 auto;
  padding: 96px 0;
  background-color: var(--navy-blue);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-l);
}

.logo-container,
.social-container,
.subscribe-container {
  text-align: center;
}

.logo-footer {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.footer-span {
  color: var(--cloud);
  margin: 0;
}

.footer-title {
  text-align: center;
  margin-top: 16px;
  line-height: 1.5;
  max-width: 264px;
  color: var(--cloud);
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.social-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.ul-footer {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}

.li-footer {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon-footer {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer:hover,
.social-icon-footer:focus {
  background-color: var(--green);
}

.svg-footer {
  fill: var(--cloud);
}

.form-text {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.subscribe-container {
  justify-content: center;
  width: 100%;
  max-width: 453px;
}
.svg-subscribe {
  margin-left: 16px;}

.input-subscribe {
  width: 100%;
  max-width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
}

input::placeholder {
  color: var(--white);
}

.button-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
}

/**** overlay ****/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--navy-blue-modal);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  max-width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-open {
  overflow: hidden;
  padding-right: 15px; }

.open-btn-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open-btn-modal:hover,
.open-btn-modal:focus {
  background-color: var(--ocean);
  border: none;
  fill: var(--white);
}

.svg-person {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.modal-conteiner {
  margin-bottom: 8px;
}

.label-modal {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}
.input-container {
  position: relative;
}

.input-name {
  width: 100%;
  height: 40px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name:focus {
  border-color: var(--iris);
}

.svg-phone {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name:focus+.svg-phone {
  fill: var(--iris);
}

.comment-conteiner {
  margin-bottom: 16px;
}

.textarea-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment:focus {
  border-color: var(--iris);
}

.privacy-container {
  margin-bottom: 24px;
  align-items: center;
}

.checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  cursor: pointer;
}
.checkbox:checked+.privacy-label .privacy-checkbox-span {
  background-color: var(--ocean);
  border: none;
}

.privacy-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.svg-checkbox{fill: var(--cloud);}


.privacy-link {
  color: var(--iris);
}

.button-form-submit {
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*****  768 ****/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header{ display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;}

  .header-navigate {
    width: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .header-logo {
    padding-right: 120px;
  }

  .nav-link {
    display: inline-block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--ocean);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.nav-link:hover,
  .nav-link:focus {
    color: var(--ocean);
  }

  .nav-link::after {
    width: 100%;
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--ocean);
    border-radius: 2px;
  }




  .nav-link-second {
    display: inline-block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
  }

  

  .menu,
  .address {
    display: flex;
  }

  .burger-btn {
    display: none;
  }

  .container-header {display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .menu {
    gap: 40px;
  }
  .address {
    display: flex;
  flex-direction: column;
  gap: 12px;
  }

  .address a {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: var(--slate);
  }

  .address a:hover,
  .address a:focus {
    color: var(--ocean);
  }

  .contact-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--slate);
  }

  /* first */
  .first {
    max-width: 768px;
    padding: 112px 0;
  }

  .first-title {
    width: 496px;
    line-height: 1.08;
    font-size: 56px;
  }

  /* second */
  .second {
    max-width: 768px;
    padding: 96px 0;
  }

  .second-ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
    text-align: left;
  }

  .svg-container {
    display: none;
  }

  /*  third  */
  .third {
    padding: 96px 0;
  }

  .third-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    max-width: 768px;
  }

  .icon-links {
    margin-bottom: 32px;
  }

  /* fourth */
  .fourth {
    max-width: 768px;
    padding: 96px 0;
  }

  .fourth-ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    max-width: 768px;
  }

  .fourth-list {
    width: calc((100% - 48px) / 2);
  }

  .portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
  }

  .portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
  }

  /* Footer */
  .container-footer {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: wrap;
    padding-left: 108px;
  }

  .footer-title {
    margin: 0;
    margin-top: 16px;
    text-align: left;
  }

  .logo-container,
  .social-container,
  .subscribe-container {
    text-align: left;
  }

  .logo-container {
    max-width: 264px;
  }

  .form-text {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
  }

  .social-container {
    align-items: flex-start;
  }

  .ul-footer {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
  }

  .subscribe-container {
    margin-top: 72px;
    width: 100%;
    max-width: 100%;
  }

  .form-subscribe {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .label-form {
    width: 264px;
  }

  .button-subscribe {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .svg-subscribe {
    width: 24px;
    height: 24px;
    fill: var(--white);
  }
  .modal {width: 768px;
  max-width: 408px;}
}

/*   1158  */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding:0 15px;
  }

  .address {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
  }
.address-list {display: flex;
gap: 40px;}

  .first {
    max-width: 1158px;
    padding: 188px 0;
    background-size: cover;
  }

  .first-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 48px;
  }

  .second {
    max-width: 1158px;
    padding: 120px 0;
  }

  .second-ul {
    flex-wrap: nowrap;
    gap: 24px;
  }
.second-title{
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
  .svg-container {
    display: flex;
  }

  .advantages-item {
    width: calc((100% - 72px) / 4);
  }

  .third {
    padding: 120px 0;
  }

  .third-team-list {
    flex-wrap: nowrap;
    gap: 24px;
    max-width: 1158px;
  }

  .fourth {
    margin-bottom: 72px;
    text-align: center;
    max-width: 1158px;
  }

  .fourth-ul {max-width: 1158px;
    display: flex;
flex-wrap: wrap;
row-gap: 48px;
  }

  .fourth-list {width: 360px;
    width: calc((100% - 72px) / 3);
  }

  .footer {
    max-width: 100%;
    justify-content: center;
    gap: 0;
  }

  .container-footer {
    max-width: 1158px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  .form-subscribe {
    display: flex;
    gap: 24px;
  }

  .subscribe-container {width: 453px;
    margin: 0 auto;
    padding: 0;
  }

  .social-container {padding-left: 120px;
  }

  .logo-footer {
    display: inline-block;
    padding-left: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  .footer-title {
    margin: 0 auto;
    line-height: 1.5;
    height: 112px;
    color: #f4f4fd;
    letter-spacing: 0.02em;
  }

  .social-text {
    margin-bottom: 16px;
  }

  .ul-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .li-footer {
    width: 40px;
    height: 40px;
  }

  .social-icon-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .svg-footer {
    fill: var(--cloud);
  }
}