:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

.hidden {
  display: none;
}
.body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  letter-spacing: 0.02em;
  line-height: 1.5;
  background-color: var(--white);
}
* {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
button {
  cursor: pointer;
}

section {
  padding: 96px 0;
}

/*----common----*/
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px
     rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*--------header----------*/

.container-header {
  display: flex;
  justify-content: space-between;
}
.menu,
.address {
  display: none;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  padding: 16px 0;
  display: block;
}
.header-span {
  color: var(--navy-blue);
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}

/****mobile*****/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0);
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-nav {
  margin-bottom: auto;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: var(--ocean);
  border: none;
}

.mobile-menu-close:hover .svg-button-close,
.mobile-menu-close:focus .svg-button-close {
  fill: var(--white);
}
.svg-button-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-nav-link {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.mobile-nav-link-second {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.mobile-nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
  bottom: -1px;
  left: 0;
  transform: scaleX(0);
  transition: transform 250ms ease;
  transform-origin: left;
}

.mobile-nav-link:hover::after,
.mobile-nav-link:focus::after {
  transform: scaleX(1);
}

.mobile-address {
  margin-bottom: 48px;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--iris);
}
.mobile-mail:hover {
  color: var(--ocean);
}
.mobile-mail:focus {
  color: var(--ocean);
}

.mobile-ul-list {
  display: flex;
  gap: 40px;
}
.mobile-li-list {
  width: 40px;
  height: 40px;
}
.mobile-social-icon {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-icon:hover,
.mobile-social-icon:focus {
  background-color: var(--ocean);
}

.svg-mobile {
  fill: var(--cloud);
}

/***first****/

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  padding: 72px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  height: 432px;
  width: 100%;
}
.first-title {
  font-weight: 700;
  margin-bottom: 48px;
  max-width: 216px;
  font-size: 36px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}
.button-first {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  align-items: center;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  min-height: 56px;
  padding: 16px 32px;
  display: block;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}
.button-first:hover {
  background-color: var(--ocean);
}
.button-first:focus {
  background-color: var(--ocean);
}

 
/***second***/

.second {display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 96px 0;
  max-width: 320px;
  height: 696px;
}

.second-ul {
  column-gap: 72px;
}
.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.second-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

.svg-container {    
  padding: 24px 100px;
height: 112px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--cloud);
  width: 100%;
  max-width: 264px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid var(--light-slate);
}

@media screen and (min-width: 768px) {
 .header-navigate {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .address {
    display: flex;
    font-style: normal;
    margin-left: auto;
    align-items: center;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contact-link {
    font-size: 12px;
    font-weight: 400;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--slate);
  }
  .contact-link:hover {
    color: var(--ocean);
  }
  .contact-link:focus {
    color: var(--ocean);
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--ocean);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link-second {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--ocean);
  }
  .nav-link::after {
    width: 100%;
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--ocean);
    border-radius: 2px;
  }
  .burger-btn {
    display: none;
  }
   .mobile-menu {
    display: none;
  }
 .first {
    max-width: 768px;
    height: 436px;
  }

  .first-title {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.08;
  }

  .second{max-width: 736px;
    height: 312px;

  }
  .second-ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
  .advantages-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .address {
    display: flex;
    justify-content: center;
  }

  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
   .first {
    max-width: 1440px;
    max-width: 100%;
    height: 600px;
  }

  .first-title {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.08;
  }

.second {margin: auto;
    padding: 120px 0;
 }

   .second-ul{
    flex-wrap: nowrap; 
    gap: 24px;
} 
.advantages-item{
 width: calc((100% - 72px) / 4);
}
.svg-container {
 display: block;
  } 
}
.third {
  background-color: var(--cloud);
  padding: 96px 0;
}

.third-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.third-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.third-li {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.third-content {
  padding: 32px 0;
  text-align: center;
}

.third-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.third-job {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Social icons */
.third-icons {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.third-icon-link {
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.third-icon-link:hover,
.third-icon-link:focus {
  background-color: var(--ocean);
}

.third-svg {
  fill: var(--cloud);
}

@media screen and (min-width: 768px) {
  .third-ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .third-li {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .third-ul {
    gap: 24px;
  }

  .third-li {
    width: calc((100% - 72px) / 4);
  }
}
.third {
  background-color: var(--cloud);
  padding: 96px 0;
}

.third-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.third-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.third-li {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.third-content {
  padding: 32px 0;
  text-align: center;
}

.third-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.third-job {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Social icons */
.third-icons {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.third-icon-link {
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.third-icon-link:hover,
.third-icon-link:focus {
  background-color: var(--ocean);
}

.third-svg {
  fill: var(--cloud);
}

@media screen and (min-width: 768px) {
  .third-ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .third-li {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .third-ul {
    gap: 24px;
  }

  .third-li {
    width: calc((100% - 72px) / 4);
  }
}
.portfolio {
  padding: 96px 0;
}

.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio-ul {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-li {
  background-color: var(--white);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
  width: 100%;
  display: block;
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

@media screen and (min-width: 768px) {
  .portfolio-ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-li {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-ul {
    gap: 48px 24px;
  }

  .portfolio-li {
    width: calc((100% - 48px) / 3);
  }
}
.footer {
  background-color: var(--navy-blue);
  padding: 96px 0;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-bottom: 16px;
}

.footer-span {
  color: var(--cloud);
}

.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud);
}

.footer-social {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}

.footer-svg {
  fill: var(--cloud);
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 72px 24px;
    justify-content: flex-start;
  }

  .footer-text {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
    gap: 120px;
  }
}
